<h1>InstaLink</h1>

<mat-label>Digite o insta para mostrar o seu grafo de follow</mat-label>
<br />
<input matInput [(ngModel)]="firstInsta">
<br />
<button mat-button color="primary" (click)="search()">Procurar</button>

<br />

<h3>Diagram</h3>

<div class="myDiagramDiv">
  <gojs-diagram #myDiagram
    [initDiagram]='initDiagram'
    [nodeDataArray]='diagramNodeData'
    [linkDataArray]='diagramLinkData'
    [divClassName]='diagramDivClassName'
    [modelData]='diagramModelData'
    [skipsDiagramUpdate]='skipsDiagramUpdate'
    (modelChange)='diagramModelChange($event)'>
  </gojs-diagram>
</div>
